<div class="row container" style="text-align: center">
    <h2 class="col s12">Welcom to Employee Reward App</h2>
    <h5 class="col s10 offset-s1">
        The app's purpose is to allow managing internal rewards within a company.
        Users can grant each other points for their good deeds that can then be converted to extra salary or other benefits.
    </h5>
</div>
