<%= form_for @changeset, Routes.user_path(@conn, :transfer, @user), fn f -> %>
    <div class="form-group col s6">
        <%= text_input f, :email, placeholder: "User email", class: "form-control" %>
        <%= number_input f, :number_of_points, placeholder: "Points", class: "form-control" %>
        <%= error_tag f, :number_of_points %>
    </div>

    <%= submit "Transfer points to selected user", class: "btn orange darken-4" %>
<% end %>